@media (max-width: 340px) {
  .container {
    padding: 0 20px;
  }
  .form {
    flex-direction: column;
    &__inner {
      background: none;
    }
    &__image-img {
      display: none;
    }
    &__image-mobile {
      display: block;
      margin: 0 auto;
    }
    &__image-top,
    &__image-bottom {
      margin-top: 40px;
      margin-bottom: 10px;
      color: inherit;
    }
    &__image-top {
      margin-left: 0;
    }
    &__image-bottom {
      margin: 40px 0 10px auto;
    }
    &__title {
      padding: 0px 0px;
      background-color: #fff;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    &__data {
      width: 280px;
    }
    &__input-name {
      padding: 16px 40px 16px 20px;
    }
    &__input-tel {
      padding: 16px 5px 16px 5px;
      margin-right: 10px;
    }
    &__input-lang {
      padding: 16px 5px;
      appearance: none;
    }
    &__btn {
      margin-bottom: 40px;
      &::before {
        left: 190px;
      }
    }
    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
