@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.form {
  display: flex;
  flex-direction: row;
  &__inner {
    background-image: url("../images/form-img-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__image-img {
    width: 85%;
    margin-left: 60px;
    margin-right: 40px;
  }
  &__image-top,
  &__image-bottom {
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 150px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
  &__image-bottom {
    margin-top: 0px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    width: 100%;
  }
}
