@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.form {
  display: flex;
  flex-direction: row;
  &__inner {
    background-image: url("../images/form-img-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__image-img {
    width: 85%;
    margin-left: 60px;
    margin-right: 40px;
  }
  &__image-top,
  &__image-bottom {
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 150px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
  &__image-bottom {
    margin-top: 0px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    width: 100%;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    padding: 30px 40px;
    background-color: #f8f8f8;
    margin-bottom: 55px;
  }
  &__input-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__input-telbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__label {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    span {
      color: #428a60;
    }
  }
  &__input-name,
  &__input-tel,
  &__input-lang {
    background: #f8f8f8;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: rgba(#212121, 0.2);
    }
  }
  &__input-name {
    padding: 16px 96px 16px 20px;
  }
  &__input-tel {
    padding: 16px 96px 16px 20px;
    margin-right: 20px;
  }
  &__input-lang {
    padding: 16px 20px;
  }
  &__btn {
    padding: 12px 20px;
    width: 100%;
    background-color: #428a60;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/arrow-right.svg");
      background-repeat: no-repeat;
      width: 18px;
      height: 12px;
      top: 15px;
      left: 265px;
    }
  }
}
